
.container-for-post{
display:block;
font-family: Open Sans,sans-serif;
overflow-y: scroll;
height: 100%;
font-size: 16px;
line-height: 1.66667;
max-width:60%;
}

.postTitleContainer{
  height: 35px;
  font-size: 122px;
  display: flex;
  align-items: center;
  background-color: #d2d1d1;
}

.postTitle{
font-size:12px;
}

.btnIg{
  display: block;
  text-decoration: none;
  border-top: 1px solid #ccc;
  padding: 5px 5px;
  height: 25px;
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(50,50,50,.4);
  font-size: 105px;
}

.linkStyling{
text-decoration: none;
flex: 1 1 auto;
margin-right: 2px;
white-space: nowrap;
overflow: hidden;
color: black;
font-size: 15px;
font-weight: bold;
text-overflow: clip;
}



.textPadding{
  padding-top: 3%;
}

.lef-div{
  border: 5px solid black;
  height: 100%;
  width: 100%;
  
  background-image: url('https://media.tenor.com/QRuFuYfjl48AAAAC/test-blue.gif'); 
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-item {
  height: 300px; /* Adjust the height as per your requirements */
  justify-content: center;
  align-items: center;

}

.carousel-img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.main-content{
  background-color: aliceblue;
}





.standard-box {
  display: block;
  box-shadow: 0 1px 2px 0 rgba(50,50,50,.4);
  background-color: #fff
}

#recentNews{
  background-color:#fff;
  display: flex;
  align-items: center;
  padding: 6px 10px;
  display: block;
  box-shadow: 2px, 2px, black;
}



.newsAnchor{
  text-decoration: none;
  display: flex;
  color: black;
  border-top: 1px solid #ccc;
  align-items: center;
  padding: 6px 10px;
}
.newsAnchor:hover{
  transition: 0.5ms;
  background-color:rgb(202, 201, 201);
}


.recent a:hover a:visited{
  color: black;
  cursor: pointer;
  transition: 0.5ms;
  background-color:rgb(202, 201, 201);
}

#recentNews a:hover a:visited{
  color: black;
  font-size: larger;
  transition: 0.5ms;
  background-color:rgb(202, 201, 201);
}

#recentNews:first-child {
border-top: none;
}

.newsAnchor:first-child {
border-top: none;
}



.endArticle{
  font-size: 11px;
  color: rgba(9,21,31,.75);
  text-align: right;
  font-weight: 400;
  line-height: 11px;
  margin: -1px 0;
  min-width: 80px
}

#mainPageNews{
  margin-bottom: 10px;
}

.contentTxt{
display:flex;
width: 50vw;
top: 10%;
left: 50%;
resize: none;
}

.catTxt{
resize:none;
width: 20vw;
}

.makePostForm{
padding-top: 10px;
display: flex;
align-items: center;
justify-content: center;
padding-left: 10px;
word-wrap: break-word;
overflow-wrap: break-word;
flex-direction: column;
color: black;
font-size: 2vh;
border: solid black 5px;
font-weight: bolder;
resize: none;

}

.titleTxt{
width: 50%;
height: 55px;
overflow: auto;
resize: none;
}

.activitylist{
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(50,50,50,.4);
  font-size: 14px;
  padding: 0 5px;
  height: 25px;
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  margin-right: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.recentActivityAnchor{
  display: block;
  text-decoration: none;
  border-top: 1px solid #ccc;
  padding: 5px 5px;
  height: 25px;
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(50,50,50,.4);
  font-size: 15px;
}

.recentActivityAnchor:hover{
  transition: 0.5ms;
  background-color:rgb(202, 201, 201);
}

.recentActivityAnchor:first-child{
  border-top: 0px;
}
.recentActivityAnchor:last-child{
  border-bottom: 0px;
  box-shadow: none;
}


.recent{
  height: 280px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 260px;
  min-width: 100px;
}

.sign-up-btn{
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 10px 80px;
  background-color: #73b0f2;
  color: #ffffff;
  font-weight: 700;
  border: 0;
  cursor: pointer;
}

.footer{
  font-size: 12px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  display: block;
}
.footerContent{
  text-decoration: none;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 975px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}

.footerLink{
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topic{
  flex: 1 1 auto;
  margin-right: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #2d6da3;
}

.more-news-btn{
  font-size: 14px;
  display: block;
  padding-bottom: 10px;
  padding: 5px;
  color: #2d6da3;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(50,50,50,.4);
  cursor: pointer;
  text-align: center;
  margin: 10px 0 0;
}


@media screen and (max-width: 992px) {




}

@media screen and (max-width: 912px) {

  .endArticle{
      font-size: 10px;

  }

  .basePadding{
      padding-left: 0%;
      padding-right: 0%;
  }
  .content-padding{
      max-width: 100%;
  }

  .recent{
      max-width: 100%;
      width: 100%;
  }

}